<div class="col-md-6 col-md-offset-3">
    <h3>Please Add Your Products Below</h3>
    <form name="form" role="form" ng-init ="getSubCatagoryCatagotyData()">

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="productname">Product  Name</label>
            <input type="text" name="productname" placeholder="Product  Name" ng-model="product" class="form-control" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Product is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="catagory">Catagory</label>
            <select name="subcatagory" class="form-control"  ng-model ="id"ng-required="true">-->
                            <option value="">---Select---</option>
                            <option ng-repeat="values in getSubCatagoryCatagoryData.category" value="{{values.id}}">{{values.name}}</option>
            </select>
        </div>
         <div class="form-group" ng-class="{ 'has-error': form.subcatagory.$dirty && form.subcatagory.$error.required }">
            <label for="subcatagory">Sub catagory</label>
         <select name="subcatagory" class="form-control" ng-model ="sub_catagory_id" ng-required="true">-->
                            <option value="">---Select---</option>
                            <option ng-repeat="values in getSubCatagoryCatagoryData.subcategory" value="{{values.sub_catagory_id}}">{{values.sub_catagory_name}}</option>
            </select>
        </div>


        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" ng-click="addProduct()" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <!--<div ng-show="registerScope.successmsg">  is saved.</div>-->
    <!--<div ng-show="registerScope.errormsg" ></div> Currency is not saved. Please try again.</a> </div>-->
</div>

